* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 2vh 10vw;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid lightgray;
}

.search-bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.daily-logo {
  width: 15vw;
  margin-right: 10vw;
}

.search-form {
  width: 65vw;
  height: 5vh;
  display: flex;
  margin-bottom: 5px;
}

.search-form>.input-box {
  width: 100%;
  height: 5vh;
  padding-left: 10px;
}

.search-button {
  width: 10vh;
  border: 0;
  cursor: pointer;
  background-color: coral;
  padding: 8px;
  border-radius: 10px;
  margin-left: 5px;
  color: #ffffff;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-left {
  display: flex;
  min-width: 200px;

}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}


.mypage {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}


.logout {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  color: #333333;
}

.cart {
  text-decoration: none;
  color: #333333;
  margin-right: 3vw;
}

.shop {
  text-decoration: none;
  color: #333333;
  margin-right: 3vw;
}