.header {
  display: flex;
  width: 100vw;
  height: 70px;
  background-color: white;
  align-items: center;
  justify-content: space-between;
}

.daily-logo {
  height: 75px;
  width: 125px;
  display: flex;
  margin-left: 100px;
}

.header-search {
  display: flex;
  margin-left: 450px;
}

.input-box {
  width: 200px;
  height: 30px;
  margin-right: 3px;
}

.search-button {
  width: 50px;
  height: 35px;
  border: 0;
  cursor: pointer;
  background-color: coral;
  border-radius: 10px;
  color: #ffffff;
}

.nav-lists {
  list-style: none;
  display: flex;
  align-items: center;
  margin-right: 100px;
}

.shop {
  text-decoration: none;
  color: black;
}

.mypage {
  text-decoration: none;
  color: black;
}

.logout {
  text-decoration: none;
  color: black;
}

.login {
  text-decoration: none;
  color: coral;
  
}

.sign-up {
  text-decoration: none;
  color: #ffffff;
}

.nav-btn-login {
  width: 80px;
  height: 35px;
  border: solid 1px coral;
  margin-right: 10px;
  background-color: white;
  border-radius: 5px;
}

.nav-btn-sign-up {
  width: 80px;
  height: 35px;
  background-color: coral;
  border: none;
  border-radius: 5px;
}
