<%= render "shared/header" %>

<div class="main">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%= "#{@name}さんのプロトタイプ"%>
      </h2>
      <div class="user__card">
        <%# 部分テンプレートでそのユーザーが投稿したプロトタイプ投稿一覧を表示する %>
        <%= render partial: 'prototypes/prototype', collection: @prototypes %>
      </div>
    </div>
</div>