<div class="list">
      <%= link_to image_tag(food.image, class: "food-img"), food_path(food.id), method: :get %>
    <div class='food-info'>
      <%= link_to food.title, food_path(food.id), class: "food-title", method: :get %>
      <p><%= food.price, class: "food-price" %>円</P>
    </div>
</div>