.add-header {
  width: 100vw;
  background-color: chocolate;
  display: flex;
  justify-content: space-around;
  text-align: center;
  
}

.food-like {
  height: 200px;
}

.food-map {
  height: 200px;
}

.food-deriver {
  height: 200px;
}


.main {
  background-color:rgb(241, 241, 241);
  width: 80vw;
  display: flex;
  margin: 0 auto;
  
}

.contents {
  display: flex;
  flex-wrap: wrap;
}

.food-list {
  height: 240px;
  width: 170px;
  background-color: white;
  margin: 20px;
  text-align: center;
  border: 1px solid black;
}

.food-img {
  height: 150px;
  width: 150px;
}

.user-name {
  text-decoration: none;
  color: black;
  height: 50px;
}

.user-name:hover {
  opacity: 0.6;
}

.food-title {
  text-decoration: none;
  color: black;
}

.food-title:hover {
  opacity: 0.6;
}

.like-btn {
  color: #8899a6;
}

.like-btn-unlike {
  color: #ff2525;
}

@media screen and (max-width: 959px) {
	/* 959px以下に適用されるCSS（タブレット用） */
}

@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */

}






