#wrap{
  background-color:white;
  padding: 50px 0;
}
#slider{
  width: 600px;
  margin: 0 auto;
  img{
    width: 100%;
  }
}
button{
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.slide-dots{
  text-align: center;
  li{
    display: inline-block;
    margin: 0 15px;
    button{
      position: relative;
      text-indent: -9999px;
      &:before{
        content: '○';
        font-size: 20px;
        text-indent: 0px;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    &.slick-active{
      button:before{
        content: '●';
      }
    }
  }
}

.main {
  background-color:rgb(241, 241, 241);
  width: 100vw;
  display: flex;
  
}
.side-var {
 background-color: teal;
 width: 15vw;
 margin-right: 5vw;
}

.contents {
  display: flex;
  flex-wrap: wrap;
}

.food-list {
  height: 250px;
  width: 150px;
  background-color: white;
  margin: 20px;
  text-align: center;
}

.food-img {
  height: 160px;
  width: 150px;
}

.user-name {
  text-decoration: none;
  color: black;
  height: 50px;
}

.food-title {
  text-decoration: none;
  color: black;
}

.star-btn {
  position: relative;
  top: -25px;
  left: 50px;
}

.star-icon {
  height: 15px;
  width: 15px;
}






