.main {
  background-color:rgb(241, 241, 241);
  width: 100vw;
  display: flex;
  margin: 0 auto;
  
}


.contents {
  display: flex;
  flex-wrap: wrap;
}

.food-list {
  height: 250px;
  width: 150px;
  background-color: white;
  margin: 20px;
  text-align: center;
}

.food-img {
  height: 160px;
  width: 150px;
}

.user-name {
  text-decoration: none;
  color: black;
  height: 50px;
}

.food-title {
  text-decoration: none;
  color: black;
}

.star-btn {
  position: relative;
  top: -25px;
  left: 50px;
}

.star-icon {
  height: 15px;
  width: 15px;
}






