.contents-row {
  display: flex;
  justify-content: center;
}

.user-name{
  font-size: 25px;
}

.food {
  background-color:rgb(241, 241, 241);
  display: flex;
  flex-wrap: wrap;
  width: 190px;
  margin: 0 auto;
  
}

.user-items{
  
  
}